 body {
     font-family: Arial, sans-serif;
     text-align: center;
     background-color: #ce1b1b;
     color: white;
     margin: 0;
     background: url('tausta.jpg') repeat;
     background-size: 500px;
 }

 h1 {
     margin-top: 20px;
     margin-bottom: 20px;
     font-size: 75px;
     color: #fff;
     text-shadow: 4px 4px 0 #097a07;
 }

 .reunus1 {
     border: 8px solid #000c00;
     border-radius: 12px;
     display: inline-block;
     padding: 10px 20px;
     margin: 10px auto;
     box-shadow: 0 0 40px rgb(221, 9, 9);
     background: rgba(0, 0, 0, 0.2);
 }

 form {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: repeat(4, 1fr);
     gap: 10px;
     width: 90vw;
     height: 80vh;
     margin: 0 auto;
     justify-items: center;
     align-items: center;
     position: relative;
 }

 .grid-item {
     position: relative;
     width: 100%;
     height: 100%;
     max-width: 300px;
     max-height: 300px;
     ;
 }

 .reunus2 {
     padding: 20px;
     border: 8px solid #0d0d0d;
     border-radius: 20px;
     width: 95vw;
     margin: 0 auto;
     box-shadow: 0 0 40px rgb(221, 9, 9);
     background: rgba(0, 0, 0, 0.2);
 }

 .photo-box {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border-radius: 10px;
     background-size: cover;
     background-position: center;
     z-index: 1;
 }

 input[type="button"] {
     width: 100%;
     height: 100%;
     max-width: 300px;
     max-height: 300px;
     font-size: 100px;
     border: 2px solid white;
     border-radius: 10px;
     background-color: #d62828;
     color: white;
     text-shadow: 4px 4px 0 #097a07;
     cursor: pointer;
     transition: background-color 0.3s, transform 0.2s;
     position: relative;
     z-index: 2;
 }

 input[type="button"]:hover {
     background-color: #a31e1e;
     transform: scale(1.05);
 }


 .kuvasivu {
     margin: 0;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #000;
     /* optional */
 }

 .kuvasivu .container {
     position: relative;
     width: 80%;
     max-width: 800px;
 }

 .kuvasivu img {
     width: 100%;
     height: auto;
     display: block;
     border-radius: 10px;
 }

 .kuvasivu .center-text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
     font-size: 2em;
     font-weight: bold;
     text-align: center;
     background: rgba(0, 0, 0, 0.5);
     padding: 10px 20px;
     border-radius: 8px;
 }